.main{
   padding: 10px;
   margin: 10px;
    width: 97vw;
    height: 90vh; 
    background-color: rgb(247, 211, 165);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    align-self: center;
}

.form{
    padding: 10px;
    margin: auto;
    width: 50%;
    height: 35%;
    background-color: rgb(197, 204, 211);
    border-radius: 10px;
}

.group{
    width: 100%;
    background-color:aliceblue;
    display: block;
    padding-top: 5px;
}